@import url('https://fonts.googleapis.com/css2?family=Bree+Serif&family=Dancing+Script:wght@400;600&family=Kalam:wght@700&family=Kanit&family=Kaushan+Script&family=Merriweather&family=Montserrat:wght@400;500&family=Poor+Story&family=Poppins:wght@400;700&family=Roboto&family=Sacramento&family=Sigmar&family=Ubuntu&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Poppins", sans-serif;
}

.header {
    min-height: 100vh;
    width: 100%;
    background-image: linear-gradient(rgba(0, 0, 0, 0.2), rgba(0, 0, 0, 0.2)), url("./images/img-slider.png");
    background-size: cover;
    background-position: center;
}

nav {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 20px 7%;
}

.logo {
    width: 140px;
    cursor: pointer;
}

.logo i {
    font-size: 27px;
    color: #fff;
}

.logo h2 {
    color: #fff;
    font-size: 27px;
    font-weight: 600;
    margin-left: 10px;
}

.nav-links li {
    list-style: none;
    display: inline-block;
    margin: 10px 30px;
}

.nav-links li a {
    text-decoration: none;
    color: #fff;
    padding-bottom: 0;
}

.register-btn {
    background: #fff;
    color: #000;
    padding: 8px 20px;
    border-radius: 20px;
    text-decoration: none;
    font-size: 14px;
    transition: all 0.3s ease;
}

.home-register-btn:hover {
background-color: #ff5361;
color: #fff;
}



.container {
    padding: 0 7%;
}

.header h1 {
    font-size: 4vw;
    font-weight: 600;
    color: #fff;
    text-align: center;
    padding-top: 20%;

}

.search-box {
    background: #fff;
    width: 70%;
    margin: 20px auto;
    padding: 6px 10px 6px 30px;
    border-radius: 40px;
}

.search-box form {
    display: flex;
    align-items: center;
    flex-wrap: wrap;
}

.search-box form input {
    display: block;
    border: 0;
    outline: none;
    background: transparent;
}

.search-box form button {
    background: #ff5361;
    width: 55px;
    border-radius: 50%;
    border: 0;
    outline: none;
    height: 55px;
    cursor: pointer;
}

.search-box form button img {
    width: 17px;
    margin-top: 7px;
}

.location-input {
    flex: 1;

}

.search-box form label {
    font-weight: 600;
}

/* exclusives */

.subtitle {
    margin: 50px 0 20px;
    font-size: 2.2vw;
    font-weight: 500;
    color: #333;
}

.exclusives {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
    gap: 30px;
}

.exclusives div img {
    width: 100%;
    border-radius: 10px;
}

.exclusives div {
    position: relative;

}

.exclusives div span {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
    color: #fff;
}

/* trending places */

.trending {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
    gap: 30px;
    margin-bottom: 30px;
}

.trending div img {
    width: 100%;
    border-radius: 10px;
}

.trending h3 {
    font-weight: 600;
    margin-top: 10px;
}

/* cta section */

.cta {
    margin: 80px 0;
    background-image: linear-gradient(to right, #3f2321, transparent), url("images/banner-2.png");
    background-size: cover;
    background-position: center;
    border-radius: 10px;
    padding: 5%;
    color: #fff;
}

.cta h3 {
    font-size: 3.5vw;
    line-height: 4.5vw;
    font-weight: 600;
}

.cta p {
    font-size: 18px;
    margin: 10px 0;
}

.cta-btn {
    background: #ff5361;
    color: white;
    text-decoration: none;
    padding: 10px 20px;
    border-radius: 10px;
    margin-top: 20px;
    display: inline-block;
}

/* travellers stories */

.stories {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
    gap: 30px;
    margin-bottom: 30px;
}

.stories div img {
    width: 100%;
    border-radius: 10px;
}

.stories div {
    position: relative;
    text-align: center;
}

.stories p {
    width: 80%;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: #fff;
    font-size: 20px;
}

.start-btn {
    text-decoration: none;
    background: #ff5361;
    color: white;

    border-radius: 30px;
    width: 80%;
    max-width: 350px;
    display: block;
    text-align: center;
    margin: 60px auto;
    padding: 15px;
    font-size: 17px;
}

/* about section */

.about-msg {
    margin: 80px 0;
    text-align: center;

    font-size: 17px;

    background-color: #f3f4f6;
    padding: 3%;
    border-radius: 20px;
}

.about-msg h2 {
    font-size: 28px;
    margin-bottom: 30px;
    font-weight: 600;
    color: #555;
}

.about-msg p {
    font-size: 15px;
    color: #6b728f;
}

/* footer section */

.footer {
    margin: 80px 0 20px;
    text-align: center;
}

.footer a i {
    color: #777;
    transition: all 0.3s ease;
}

.footer a i:hover {
    color: #ff5361;
}

.footer a {
    text-decoration: none;
    color: #888;
    font-size: 22px;
    margin: 0 10px;
}

.footer hr {
    background: #999;
    height: 1px;
    width: 100%;
    border: 0;
    margin: 20px 0;
}

.footer p {
    padding-bottom: 15px;
    color: #777;
    font-size: 13px;

}

.active {
    position: relative;
}

.active::after {
    content: '';
    position: absolute;
    width: 60px;
    height: 2px;
    background: #fff;
    left: 50%;
    transform: translateX(-50%);
    bottom: -12px;
    border-radius: 2px;
}

.nav-links a {
    position: relative;
    display: inline-block;
    padding-bottom: 10px;
    transition: all 0.3s ease;
}

.nav-links a::after {
    content: '';
    position: absolute;
    width: 0;
    height: 2px;
    background: #fff;
    left: 50%;
    transform: translateX(-50%);
    bottom: -12px;
    border-radius: 2px;
    transition: all 0.3s ease;
}

.nav-links a:hover::after {
    width: 60px;
}


nav .fa-bars {
    display: none;
}


/* for smaller screen devices */

@media (max-width : 700px) {

    .logo {
        position: fixed;
        top: 3%;
        left: -5%;
        margin-bottom: 20px;
    }

    nav {
        position: fixed;

        z-index: 100;
        display: inline-block;
        width: 100%;
        padding: 80px 7% 0;
        max-height: 70px;

        overflow: hidden;
        transition: all 0.3s ease;
        background: #000;

        text-align: right;
    }

    nav .nav-links li {
        padding-block: 4px;
        display: block;
        margin-inline: 0px;
    }

    .register-btn {
        margin: 10px 0 30px;
        display: inline-block;
        padding: 5px 15px;

    }

    nav .fa-bars {
        display: block;
        position: fixed;
        top: 4%;
        right: 5.5%;
        color: #fff;
        font-size: 20px;
    }


    .active::after {
        left: -40%;
        transform: translateX(0, 50%);
        bottom: 50%;

    }

    .hide-menu {
        max-height: 300px;
    }


    .header h1 {
        padding-top: 150px;
        font-size: 7vw;
    }

    .search-box {
        width: 90%;
        margin: 30px auto;
        padding: 20px 10px 30px;
        border-radius: 5px;
        position: relative;
    }

    .search-box form {
        display: block;
    }

    .search-box form input {
        border-bottom: 1px solid #ddd;
        width: 100%;
        margin-bottom: 20px;
        margin-top: 10px;
    }

    .search-box form button {
        position: absolute;
        bottom: -25px;
        left: 43%;
        transform: translateX(-50%, -50%);
        border: 4px solid #fff;
    }


    .subtitle {
        font-size: 5.5vw;
    }

    .cta {
        padding: 15% 3%;
    }

    .cta h3 {

        font-size: 6.5vw;
        line-height: 8vw;
    }

    .cta p {
        font-size: 14px;
    }

    .cta-btn {
        padding: 6px 15px;
        border-radius: 4px;
        margin-top: 10px;
        font-size: 14px;

    }

    .container {
        padding: 0px 5%;
    }

    .stories p {
        font-size: 20px;

    }

    .about-msg {
        font-size: 15px;
        padding-block: 7%;
    }



}


/* listing page */


.navbar-white {
    background: #fff;
    box-shadow: 0px 5px 10px rgba(0, 0, 0, 0.05);
}

.navbar-white .nav-links a {
    color: #000;
    padding-bottom: 0px;

}

.navbar-white .register-btn {
    background: #ff5361;
    color: #fff;
}

.navbar-white .fa-bars {
    color: #000;
}

.navbar-white .nav-links a::after {
    background: #ff5361;

}

.list-container {
    margin-top: 50px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}


.left-col {
    flex-basis: 70%;
}

.right-col {
    flex-basis: 25%;
}

.left-col h1 {
    color: #333;
    font-weight: 600;
    margin-bottom: 30px;

}

.house {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    padding: 30px 0;
    border-top: 1px solid #ccc;
}

.house-img {
    flex-basis: 40%;
}

.house-info {
    flex-basis: 58%;
    color: #555;
}

.house-img img {
    width: 100%;
    border-radius: 10px;
}


.house-info h3 {
    font-weight: 600;
    color: #333;
    font-size: 22px;
    margin: 4px 0;
}

.house-info i {
    color: #ff5361;
    font-size: 18px;
    margin: 10px 1px;
}

.house-price {
    text-align: right;
}

.house-price h4 {
    font-size: 16px;

}

.house-price h4 span {
    font-size: 14px;
    color: #777;
    font-weight: 500;
}

.sidebar {
    border: 1px solid #999;
    padding: 20px 30px;
    margin-top: 30px;
}

.sidebar h2 {
    font-weight: 600;
    color: #333333;

}

.sidebar h3 {
    font-weight: 500;
    margin: 20px 0 10px;

}

.filter {
    display: flex;
    align-items: center;
    color: #555;
    margin-bottom: 10px;
}

.filter p {
    flex: 1;

}

.filter input {
    margin-right: 15px;
    cursor: pointer;
}

.sidebar-link {
    text-align: right;
    margin: 20px 0;
}

.sidebar-link a {
    text-decoration: none;
    color: #ff5361;
    font-size: 15px;
}

.pagination {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 40px 0;
}

.pagination img {
    width: 15px;
    margin: 10px 20px;
}

.right-arrow {
    transform: rotate(180deg);
}

.pagination span {
    margin: 10px 8px;
    width: 40px;
    height: 40px;
    text-align: center;
    border-radius: 50%;
    cursor: pointer;
    display: flex;
    justify-content: center;
    align-items: center;
}

.pagination .current {
    background: #333;
    color: #fff;
}

.right-col {
    position: relative;
}

.sidebar {
    position: sticky;
    top: 100px;
}

@media(max-width : 700px) {
    .navbar-white {
        position: fixed;
        z-index: 100;
        display: inline-block;
        width: 100%;
        top: 0px;
        overflow: hidden;
        transition: all 0.3s ease;
        background: #fff;
        text-align: right;
    }

    .list-container {
        margin-top: 130px;
    }

    .left-col,
    .right-col,
    .house-info,
    .house-img {
        flex-basis: 100%;

    }

    .left-col h1 {
        font-size: 22px;
    }

    .house-info h3 {
        font-size: 18px;
    }

    .house-info i {
        font-size: 16px;
    }

    .pagination span {
        margin: 10px 2px;
        width: 30px;
        height: 30px;
        line-height: 32px;
    }


}



/* house details page */

.house-details {
    padding: 0 12%;
}

.house-title {
    margin-top: 50px;
}

.house-title h1 {
    font-weight: 600;
}

.house-title .row {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    margin: 10px 0;
}

.house-title span {
    margin: 0 20px;
}

.house-title i {
    color: #ff5361;
    font-size: 14px;
}

.gallery-section {
    display: grid;
    gap: 10px;
    grid-template-areas: "first first . . "
        "first first . . "
        ". . second second"
        ". . second second";

    margin: 20px 0;

}

.gallery-section-2 {
    display: grid;
    gap: 10px;
    grid-template-areas: ". . second second"
        ". . second second";
    margin: 20px 0;
}

.gallery-section-3 {
    display: grid;
    gap: 10px;
    margin: 20px 0;
    grid-template-areas: "third third . ."
        "third third . ."
    ;
}

.gallery-section div img {
    width: 100%;
    border-radius: 10px;
    display: block;
}

.gallery-section-2 div img {
    width: 100%;
    border-radius: 10px;
    display: block;
}

.gallery-section-3 div img {
    width: 100%;
    border-radius: 10px;
    display: block;

}

.gallery-img-1 {
    grid-area: first;
}

.gallery-img-2 {
    grid-area: second;
}

.gallery-img-3 {
    grid-area: third;

}

.last-img {
    width: 100%;
    overflow: hidden;
}

.last-img img {
    width: 100%;
    border-radius: 10px;
    height: 100%;
    object-fit: cover;

}

.small-details h2 {

    font-weight: 500;
}

.small-details h4 {
    text-align: right;
    font-size: 22px;
}

.line {
    border: 0;
    height: 1px;
    width: 100%;
    max-width: 800px;
    /* margin: 20px 0 ; */
    background: #ccc;
    margin-bottom: 30px;
}

.check-form {
    margin: 30px 0;
    background: #fff;
    box-shadow: 0 0 30px rgba(0, 0, 0, 0.1);
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    padding: 10px 30px;
    justify-content: space-between;
}

.check-form label {
    display: block;

}

.check-form div {
    padding: 20px;

}

.check-form input {
    width: 100%;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    margin: 10px 0;
    transition: border-color 0.3s ease;
}

.check-form input:focus {
    border-color: #ff5361;
    outline: none;
}

.check-form button {
    background: #ff5361;
    border: 0;
    outline: none;
    color: #fff;
    padding: 18px;
    width: 300px;
    border-radius: 5px;
    font-size: 16px;


}

.details-list {
    list-style: none;
    margin: 50px 0;

}

.details-list li {
    margin-left: 50px;
    font-size: 18px;
    font-weight: 600;
    margin-bottom: 20px;
    color: #555;
    position: relative;
}

.details-list li span {
    display: block;
    font-weight: 400;
    font-size: 16px;
}

.details-list li i {
    position: absolute;
    top: 5px;
    left: -35px;

}

.home-desc {
    width: 700px;
    margin: 30px 0 30px;

}

.map {
    margin: 50px 0;

}

.map iframe {
    width: 100%;


}

.map-outline {
    padding: 1%;
    border: 2px solid #e8eaed;
    border-radius: 10px;
    margin-bottom: 20px;
}

.map h3 {
    font-size: 26px;
    font-weight: 600;
    margin-bottom: 20px;
}

.map b {
    display: block;
    margin-bottom: 16px;
}

.host {
    display: flex;
    align-items: center;

}

.host img {
    width: 80px;
    border-radius: 50%;
    margin-right: 30px;
}

.host h2 {
    margin-bottom: 10px;
    font-weight: 600;
}

.host i {
    color: #ff5361;

}

.contact-host {
    display: inline-block;
    margin: 40px 0 40px 110px;
    text-decoration: none;
    color: #555;
    padding: 15px 50px;
    border: 1px solid #ff5361;
    border-radius: 8px;
    transition: all 0.3s ease;
}

.contact-host:hover {
    background: #ff5361;
    color: #fff;
}


/* media query for house details page */

@media (max-width : 700px) {

    .house-details {
        margin-top: 130px;
    }

    .house-details {
        padding: 0 5%;
    }

    .row p {
        margin-top: 10px;
    }

    .gallery-section {
        grid-template-areas:
            "first first"
            ". . "
            ". ."
            ". . "
            "second second"
            ". .";
    }

    .small-details h2 {
        font-size: 20px;
        margin-top: 24px;
        font-weight: bold;
    }

    .small-details h4 {
        font-size: 18px;
        text-align: right;
        margin: 10px 0;
    }

    .check-form {
        padding: 10px 30px;
    }

    .check-form div {
        padding: 20px 0;
        width: 100%;
    }

    .check-form input {
        width: 100%;


    }

    .check-form button {
        font-size: 14px;
        margin-top: 10px;
        margin-bottom: 15px;
        border-radius: 5px;
        width: 100%;
        padding: 14px 0;
    }

    .home-desc {
        width: 100%;
    }

    .host {
        display: block;
        line-height: 28px;
    }



    .contact-host {
        margin: 20px 0;
        padding: 11px 30px;
    }
}